:root {
    --bcg-color: #5269fd;
    --white: #ffffff;
    --primary-color: #34fafa;
    --dark-secondary-color: #2c9ed3;
    --tertiary-color: #63d0ff;
    --light-tertiary-color: #475ce6;
    --text-color: #5b6de3;

    --font-family: 'DM Sans', sans-serif;
}